/*Variables CSS*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --main-principal-color: #EF1982;
    --main-second-color: #F5F5F5;
    --main-third-color: #E69EB4;
    --main-fourth-color: #9A9A9A;
    --color-withe: #ffffff;
    --text-principal-font: 'Montserrat', sans-serif;
}

/* Normalizar */

.boton {
    background: var(--main-principal-color);
    color: var(--color-withe);
    border: none;
    border-radius: 5px;
    font-size: 22px;
    
}

/* Estilos para navbar */

nav {
    font-family: 'Montserrat', sans-serif !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.nav-logo {
    max-width: 100px;
    max-height: 80px;
}

.navbar-edit {
    background: var(--main-second-color) !important;
}

.navbar-span {
    color: var(--main-fourth-color);
    text-align: initial;
    text-transform: uppercase;
    padding-left: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    color: var(--main-principal-color) !important;
}

.navbar-toggler {
    background-color: var(--main-principal-color) !important;
}

/* Estilos en el body */

/* Estilos en el banner */

.banner {
    height: 900px;
    background: url("../../src/img/img-banner.png") no-repeat center / cover;
}

.banner-contenido{
    padding-top: 400px;
    gap: 3px;
    padding-left: 100px;
}
.banner-titulo {
    color: var(--color-withe);
    font-weight: 600;
    font-size: 3rem;
}

.banner-boton {
   width: 15rem;
   height: 3rem;
   font-weight: 500;
   line-height: 26px;  
}

/* Categorias */

.categorias {
    display: flex;
    flex-direction: column;
}

.categorias-titulo {
    color: var(--main-principal-color);
}

.categorias-contenedor{
    display: flex;    
}

.categorias-imagen{
    background: url("../../src/img/img-banner.png") no-repeat center / cover;
}
.waves{
    padding-bottom: 2rem;
}

.waves .wave1, .waves .wave2, .waves .wave3{
    position: absolute;
    width: 100%;
    height: auto;
}

.wave2{
    padding-top: 25px;
}

/* Productos */

.productos{
    padding: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productos .row{
    width: 30%;
}

.card-img-top{
    height: 400px;
    background-size: 100% 100%;
}

.card{
    height: 600px;
    border: 1.5rem;
    margin: .75rem;    
    box-shadow: 5px 10px var(--main-third-color);   
}

.card-content p{
    color: var(--main-principal-color);
    font-weight: 400;
    size: 2rem;
}

.card-title{
    color: var(--main-fourth-color);
    font-weight: 600;
    size: 1.6rem;
    font-weight: bold !important;
}

.card-text{
    color: black !important;
    font-weight: 300;
    size:1.3rem;
}

.card-action{
    text-align: center;
    width: 100%;    
    padding: .3rem 5rem .3rem 5rem;
}

.card-action a{
    text-decoration: none;
}

.card-action:hover{
    background: var(--main-third-color);
    color: var(--main-principal-color);
    transition: ease .5s;
}

.card-action a:hover{
    color: white !important;
}


/* Footer */

footer{
    background-color: #f7e1e8;
    height: 620px;
}

footer .container{
    display: flex !important;
    flex-direction: row !important;
}

footer h5 h6 p{
    color: #E69EB4 !important;
}

form .boton{
    background-color: #e69eb4 !important;
}



/* dispositivos moviles */

@media (max-width: 600px) {
    
    .card{
        border: 1rem 0 0 1rem;
    }

    .card-body{
        display: flex;
        flex-direction: column;
    }

    .card-boton{
        align-items: center;
        width: 100%;    
        padding: 0rem 2rem 0rem 2rem;
        align-self: center;
    }
    
  }